@use 'colors/color-matrix' as *;
@use 'abstracts/variables' as *;
@use 'base/typography' as *;
@use 'abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  min-height: 350px;
  padding: 24px;
  color: $room-info-text;
  border: 1px solid $room-info-border-color;
  border-radius: 16px;
  background:
    url('/assets/images/ball-decor.svg') right -2px top 0px no-repeat,
    $room-info-bg;
  box-shadow: $shadow;
}

.room-info {
  &__text-container {
    width: 453px;
    color: $room-info-text;
  }

  &__title {
    @include multiline-truncate(2);
    @include heading(36px, $line-height-md);

    padding-bottom: 8px;
    overflow-wrap: break-word;
    color: inherit;
  }

  &__description {
    @include multiline-truncate(4);

    line-height: $line-height-xl;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  &__cards-container {
    display: flex;
    gap: 16px;
    color: $room-info-card-text;
  }
}
