<section class="action-card" [class]="pictureClass()">
  <header class="action-card__header">
    @if (headerPictureName()) {
      <svg class="action-card__picture" aria-hidden="true">
        <use [attr.xlink:href]="headerPictureHref()" />
      </svg>
    }

    <h2 class="action-card__title">{{ headerTitle() }}</h2>
  </header>

  <div class="action-card__content">
    <ng-content />

    <app-button
      class="secondary medium full-width"
      [text]="buttonText()"
      [isDisabled]="isButtonDisabled()"
      (click)="onButtonClick()"
    />
  </div>
</section>
