@use "../../../assets/styles/colors";
@use "../../../assets/styles/extends" as *;

.note-title {
  @extend %title-lg;
  color: colors.$g-950;
  margin-bottom: 20px;
}

.note-textarea {
  position: relative;
}

.note-invitation-link {
  @extend %body-sm;
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: colors.$blue-link;
}

.note-buttons {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  column-gap: 16px;
}

.note-info-container {
  display: flex;
  justify-content: space-between;
}

.note-caption {
  @extend %caption;
  margin-top: 2px;
  color: colors.$red-warning;
}

.note-counter {
  @extend %label;
  flex-grow: 1;
  text-align: right;
  color: colors.$g-500;
}
