.success__block-title--modal {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 12px;
}

.modal__content-container {
  padding-right: 15px;
}

.success__block--modal {
  margin-bottom: 30px;
}
