@use 'index.scss';
@use 'abstracts/mixins' as *;

html {
  overflow-x: hidden;
  @include custom-scrollbar;

  &:has(.modal) {
    overflow-y: hidden;
    padding-right: 12px;

    app-header {
      padding-right: 132px;
    }
  }
}
