@use "./variables";
@use "./colors";

%button-l {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
}

%button-m {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

%button-s {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

%body-sm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
%body-md {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
%body-lg {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

%title-lg {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

%title-md {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

%title-sm {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

%input-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

%caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

%label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

%main-element {
  display: flex;
  flex-grow: 1;
  margin-top: 68px;
  background: variables.$general-background;
}

%scroll {
  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: variables.$shadow-list-item;
    background: colors.$g-100;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid colors.$g-100;
    border-radius: 8px;
    background: colors.$green-400;

    &:hover,
    &:active {
      background: colors.$green-500;
    }
  }
}
